
back/.metadata/version.ini
back/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
back/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
back/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
back/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
back/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
back/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
back/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
back/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
back/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
back/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
back/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
back/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
back/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
back/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
back/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
back/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
back/.metadata/.log
back/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
back/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
back/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
