
back/.metadata/.log
back/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
back/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
back/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
back/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
back/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
back/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
back/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
back/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
back/.metadata/version.ini
