.bodyevent{
    margin-top: 90px;
    position: absolute;
    width: 680px;
    
    height: max-content;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    backdrop-filter: blur(0px) saturate(110%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    left: auto;
    right: auto;
    left: 25%;

}
.fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
  .evento{
    position: relative;
    right:15% ;
    }
    .evento2{
    position: absolute;
    left: 60%;
    top:6.2%;
    }
    .evento3{
        position: absolute;
        left: 60%;
        top:12.4%;  
    }
    

    .evento4{
        position: absolute;
        left: 60%;
        top:19.1%;  
    }
    .evento5{
        position: absolute;
        left: 60%;
        top:25.5%;  
    }
    .evento6{
        position: absolute;
        left: 60%;
        top:32.1%;  
    }
   
    .imgsubir{
        width: 25%;
        height: 25%;
        text-align: center;
      border: 0px;
      right: 10%;
      }
      ul {
        list-style-type: none;
        margin: -13px;
        padding: 0;
        overflow: hidden;
        background-color: #937DC2;
        z-index: -10;
      
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      .cerrar{
        position: relative;
        left: 1125px;
      }

    @media (max-width:492px){
  
        .bodyevent{
            margin-top: 80px;
            position: absolute;
            width: 350px;
            
            height: max-content;
        
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            backdrop-filter: blur(0px) saturate(110%);
            -webkit-backdrop-filter: blur(0px) saturate(150%);
            left: auto;
            right: auto;
            left: 5%;
        
        }
        input{
            width: 120px;
        }


        .evento{
            position: relative;
            right:20% ;
            }
            .evento2{
            position: absolute;
            left: 60%;
            top:6.1%;
            }
            .evento3{
                position: absolute;
                left: 60%;
                top:12.5%;  
            }
            
        
            .evento4{
                position: absolute;
                left: 60%;
                top:18.9%;  
            }
            .evento5{
                position: absolute;
                left: 60%;
                top:25.5%;  
            }
            .evento6{
                position: absolute;
                left: 60%;
                top:31.9%;  
            }

        
            .subirimagen{
                left: auto;
                position: relative;
                right: 33px;
              
                
              }
              ul {
                list-style-type: none;
                margin: -13px;
                padding: 0;
                overflow: hidden;
                background-color: green;
                width: 120%;
              }
              
              li {
                float: left;
              }
              
              li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
              
              li a:hover {
                background-color: #111;
              }
              .cerrar{
                position: relative;
                left: 160px;
              }
      }
      
      