.bodyevent{
    margin-top: 90px;
    position: absolute;
    width: 680px;
    
    height: max-content;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 12px;
    backdrop-filter: blur(0px) saturate(110%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    left: auto;
    right: auto;
    left: 25%;

}
img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }