
    ul {
      list-style-type: none;
      margin: -13px;
      padding: 0;
      overflow: hidden;
      background-color: green;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
      
      .evento{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        backdrop-filter: blur(0px) saturate(110%);
        -webkit-backdrop-filter: blur(0px) saturate(150%);
        position: absolute;
        left: 25%;
        top: 15%;
        width: 680px;
      }
     .crearevent{
      margin-left: 90%;
      border: 0;
      margin-top: 36%;
      text-align: center;
     }
     .fondo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 105%;
      min-height: 100%;
      transform: translateX(calc((100% - 100vw) / 2));
      z-index: -2;
    }
    .cerrar{
      position: relative;
      left: 1150px;
    }
   
    .info{
border: 5px black;
    }
   
    @media (max-width:492px){
      button{
        margin-left: 70%;
        border: 0;
        margin-top: 130%;
       }
       .evento{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        backdrop-filter: blur(0px) saturate(110%);
        -webkit-backdrop-filter: blur(0px) saturate(150%);
        position: absolute;
        left: 3%;
        top: 15%;
        width: 350px;
      }

      ul {
        list-style-type: none;
        margin: -13px;
        padding: 0;
        overflow: hidden;
        background-color: green;
        width: 120%;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      .cerrar{
        position: relative;
        left: 160px;
      }
    }