
    @font-face {
      font-family:logo;
      src: url(fuentes/Logo.ttf);
    }
    ul {
      list-style-type: none;
        margin: -13px;
        padding: 0;
        overflow: hidden;
        background-color: #937DC2;
        z-index: -10;
    }
    .eveapuntados{
      margin-top: 20px;
    }
    li {
      float: right;
    }
    #logo{
      color: #FFABE1;
      height: auto;
      width:30%;
      font-size: 5vh;
       float: left; 
      text-align: center;
      padding-top: 6px;
      font-family: logo;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
      
      .evento{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        backdrop-filter: blur(0px) saturate(110%);
        -webkit-backdrop-filter: blur(0px) saturate(150%);
        position: absolute;
        left: 25%;
        top: 15%;
        width: 680px;
      }
     .crearevent{
      margin-left: 90%;
      border: 0;
      margin-top: 36%;
      text-align: center;
     }
     .fondo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 105%;
      min-height: 100%;
      transform: translateX(calc((100% - 100vw) / 2));
      z-index: -2;
    }
    .cerrar{
      position: relative;
      left: 0px;
    }
   
    #nombre{
position:relative;
bottom:105px;

}
   #tarjeta{
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 600px;
    height: 150px;
    box-sizing: border-box;

   }
   .imagen{
      position: relative;
      right:45% ;
      
   }
   .direccion{
    position: relative;
    bottom:90px;

   }
   input{
    border: transparent;
   }
    @media (max-width:492px){
      #nombre{
        position:relative;
        bottom:100px;
        left: 45px;
        }
      .direccion{
        position: relative;
        bottom:90px;
left: 35px;    
       }
      #tarjeta{
        border: 5px solid rebeccapurple;
        background-color: lightgray;
        padding: 40px;
        margin: 40px;
        width: 280px;
        height: 190px;
        box-sizing: border-box;
    
       }
      .crearevent{
        margin-left: 50%;
        border: 0;
        margin-top: 7%;
        text-align: center;
       }
       .evento{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        backdrop-filter: blur(0px) saturate(110%);
        -webkit-backdrop-filter: blur(0px) saturate(150%);
        position: absolute;
        left: 3.3%;
        top: 15%;
        width: 350px;
      }

      ul {
        list-style-type: none;
          margin: -9px;
          padding: 0;
          overflow: hidden;
          background-color: #937DC2;
          z-index: -10;
      }
      
      li {
        float: right;
      }
      #logo{
        color: #FFABE1;
        height: auto;
        width:20%;
        font-size: 5vh;
         float: left; 
        text-align: center;
        padding-top: 8px;
        font-family: logo;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px 11px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      .cerrar{
        position: relative;
        left: 0px;
      }
    }