.menu {
 
    text-align: center;
      margin-left: 5px;
      
      
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0%;
        overflow: hidden;
        background-color: bisque;
        position: fixed;
        bottom: 0;
        
      }
    
    li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 45px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .evento{
        margin-top: 5%;
        text-align: center;
      }