.bodyevent{
    margin-top: 90px;
    position: absolute;
    width: 680px;
    
    height: max-content;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    backdrop-filter: blur(0px) saturate(110%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    left: auto;
    right: auto;
    left: 25%;

}
.fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
  .evento{
    position: relative;
    right:15% ;
    }
    .evento2{
    position: absolute;
    left: 53%;
    top:29.8%;
    }
    .evento3{
        position: absolute;
        left: 53%;
        top:35.5%;  
    }
    

    .evento4{
        position: absolute;
        left:53%;
        top:42.4%;  
    }
    .evento5{
        position: absolute;
        left: 53%;
        top:48.9%;  
    }
    .evento6{
        position: absolute;
        left: 53%;
        top:54.9%;  
    }
    ul {
        list-style-type: none;
        margin: -13px;
        padding: 0;
        overflow: hidden;
        background-color: green;
        z-index: -10;
      
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      .cerrar{
        position: relative;
        left: 1125px;
      }

    @media (max-width:479px){
  
        .bodyevent{
            margin-top: 80px;
            position: absolute;
            width: 350px;
            
            height: max-content;
        
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            backdrop-filter: blur(0px) saturate(110%);
            -webkit-backdrop-filter: blur(0px) saturate(150%);
            left: auto;
            right: auto;
            left: 3.5%;
        
        }
        input{
            width: 90px;
        }


        .evento{
            position: relative;
            right:20% ;
            }
            .evento2{
            position: absolute;
            left: 60%;
            top:29.5%;
            }
            .evento3{
                position: absolute;
                left: 60%;
                top:35.8%;  
            }
            
        
            .evento4{
                position: absolute;
                left: 60%;
                top:42.5%;  
            }
            .evento5{
                position: absolute;
                left: 60%;
                top:48.9%;  
            }
            .evento6{
                position: absolute;
                left: 60%;
                top:55.2%;  
            }
            ul {
                list-style-type: none;
                margin: -13px;
                padding: 0;
                overflow: hidden;
                background-color: green;
                width: 105.8%;
              }
              
              li {
                float: left;
              }
              
              li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
              
              li a:hover {
                background-color: #111;
              }
              .cerrar{
                position: relative;
                left: 150px;
              }

        
       
      }
      
      