.bodyevent{
    margin-top: 90px;
    position: absolute;
    width: 680px;
    
    height: max-content;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    backdrop-filter: blur(0px) saturate(110%);
    -webkit-backdrop-filter: blur(0px) saturate(150%);
    left: auto;
    right: auto;
    left: 25%;

}
.fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }
  .evento{
    position: relative;
    right:15% ;
    }
   
    .menu2 {
        list-style-type: none;
        margin: -13px;
        padding: 0;
        overflow: hidden;
        background-color: green;
        z-index: -10;
      
      }
      
      .menu3 {
        float: left;
      }
      
      .menu3 a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .menu3 a:hover {
        background-color: #111;
      }
      .cerrar{
        position: relative;
        left: 1025px;
        top:15px;
      }
      .evento2{
        position: absolute;
        left: 52%;
        top:24.2%;
        }
        input{
          position: absolute;

      }
      
.divapun{
  left: auto;
  right: auto;
}
    @media (max-width:492px){
  
        .bodyevent{
            margin-top: 80px;
            position: absolute;
            width: 350px;
            
            height: max-content;
        
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            backdrop-filter: blur(0px) saturate(110%);
            -webkit-backdrop-filter: blur(0px) saturate(150%);
            left: auto;
            right: auto;
            left: 3.5%;
        
        }
        input{
            width: 90px;
        }


        .evento{
            position: relative;
            right:20% ;
            }
            .evento2{
            position: absolute;
            left: 60%;
            top:27.8%;
            }
            
            ul {
                list-style-type: none;
                margin: -13px;
                padding: 0;
                overflow: hidden;
                background-color: green;
                width: 105.8%;
              }
              
              li {
                float: left;
              }
              
              li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
              
              li a:hover {
                background-color: #111;
              }
              .cerrar{
                position: relative;
                left: 90px;
              }

        
       
      }
      
      