/*----------------------------Fuentes---------------------------------*/
@font-face {
    
    font-family:texto;
    src: url(fuentes/Texto.ttf);
    
}
@font-face {
    font-family:logo;
    src: url(fuentes/Logo.ttf);
}
@font-face {
    font-family:texto2;
    src: url(fuentes/texto2.ttf);
}

a{
    text-decoration: none;
    
}
body{
    margin: 0;
    
}
ul{
    list-style: none;
}
/*---------------------------------------resolucion movil---------*/
@media screen and (max-width: 479px) {
    
body{
    margin: 0;
    
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 11;
}
#logo{
   
    color: rgba(255, 255, 255, 0.911);
    margin: 4% 0 0 5%;
    height: auto;
    width: 40%;
    text-align: center;
    float: left;
    font-size: 40px;
    font-family: logo;
}
nav{
    
    height: 70%;
    width: 20%;
    float: right;
    margin-top: 4%;
}
#apartados{
    display: none;
}

.stick{
    background-color: white;
    width: 45%;
    height: 8%;
    margin: 10% 22.5% 0 22.5%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
main{
    clear: both;
    width: 100%;
    height: 40%;
    margin: 0;
    
}
section{
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
}
#texto1{
    color: #FFC4C4;
    position: relative;
    width: 70%;
    height: 10vh;
    top: 40%;
    left: 15%;
    text-align: center;
    font-size: 35px;
    font-family: texto;
}

#crear{
    color: black;
    position: relative;
    width: 80%;
    height: 30px;
    left: 10%;
    top: 60% ;
    border:0;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#iniciar{
    color: rgb(255, 255, 255);
    position: relative;
    width: 80%;
    height: 30px;
    left: 10%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 45%;
    background-color: rgba(240, 248, 255, 0);
    border-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#opiniones{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 600px;
    margin: 0;
    

}

#opinion{
    display: list-item;
    position: relative;

    width: 90%;
    height: 500px;
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    list-style: none;
    border: 2px solid;
    border-color: rgba(128, 128, 128, 0.522);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#titulo{
    margin: 10% 0 0 10%;
    width: 80%;
    height: auto;
    font-size: 30px;
    border-bottom: 3px solid;
    border-color: #850E35;
    animation-duration: 8s;
    animation-name: difusion;
    animation-iteration-count: infinite;
    
    
    
}
#texto{
    
    margin: 10% 0 0 10%;
    width: 80%;
    height: auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    animation-duration: 8s;
    animation-name: difusion;
    animation-iteration-count: infinite;
    

}
@keyframes difusion {
    from{
        opacity: 100;
        margin: 10% 0 0 15%;
    }
    
    to{
        opacity: 0;
        margin: 10% 0 0 5%;
    }
    
}


#iniciar2{
    color: #FFF5E4;
    margin: 0 10% 0 10%;
    width: 80%;
    height: 50px;
    font-size: 20px;
    background-color: #EE6983;
    border-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
}

aside{
    border-top: 3px solid;
    border-color: rgba(0, 0, 0, 0.377);
    background-color: white;
    height: 150px;
    width: 100%;
    clear: both;
    margin: 0;
    position: relative;
    top: 500px;
    
}
#logo2{
    color: #850E35;
    font-family: logo;
    margin: 10% 0 0 10%;
    padding: 0;
    float: left;
    font-size: 30px;
}
#redes{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    right: 15%;
    top: 15%;

}

#ulAside{
    width: 50%;
    margin: 0;
    padding: 0;
    clear: both;
    position: relative;
    left: 45%;
    top: -15%;
    list-style: none;
}

.icono{
    
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 5%;
}
#iniciar3{
    display: none;
}
.icono,img{
    width: 50px;
}
}

/*-------------------------------Resolution tablet--------------------------*/

@media screen and (min-width: 480px) and (max-width: 990px) {
    body{
        margin: 0;
        
    }
    header{
        position: fixed;
        width: 100%;
        height: 120px;
        z-index: 11;
        
    }
    #logo{
       
        color: white;
        margin: 4% 0 0 5%;
        height: auto;
        width: auto;
        text-align: center;
        float: left;
        font-size: 50px;
        font-family: logo;
    }
    nav{
       
        height: 70%;
        width: 15%;
        float: right;
        margin-top: 4%;
        margin-right: 3%;
    }
    
    .stick{
        background-color: white;
        width: 45%;
        height: 8%;
        margin: 10% 22.5% 0 22.5%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    #iniciar3{
        display: none;
    }
    #apartados{
        display: none;
    }
    main{
        clear: both;
        width: 100%;
        height: auto;
        margin: 0;
        
    }
    section{
        background-color: black;
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    #texto1{
        color: #FFC4C4;
        position: relative;
        width: 70%;
        height: 10vh;
        top: 30%;
        left: 15%;
        text-align: center;
        font-size: 50px;
        font-family: texto;
    }
    
    #crear{
        position: relative;
        width: 80%;
        height: 7vh;
        left: 10%;
        top: 60vh;
        text-decoration: none;
        border:0;
        border-radius: 20px;
        font-size: 3vh;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top: 5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #iniciar{
        color: white;
        position: relative;
        width: 80%;
        height: 7vh;
        left: 10%;
        font-size: 3vh;
        top: 35vh;
        background-color: rgba(240, 248, 255, 0);
        border-color: white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top:1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #opiniones{
        position: absolute;
        background-color: white;
        width: 100%;
        height: 800px;
        margin: 0;
        
    
    }
    
    #opinion{
        display: list-item;
        position: relative;
    
        width: 90%;
        height: 500px;
        margin-top: 10%;
        margin-left: 5%;
        float: left;
        list-style: none;
        border: 2px solid;
        border-color: rgba(128, 128, 128, 0.522);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    #titulo{
        margin: 10% 0 0 10%;
        width: 80%;
        height: auto;
        font-size: 50px;
        border-bottom: 3px solid;
        border-color: #850E35;
        animation-duration: 8s;
        animation-name: difusion;
        animation-iteration-count: infinite;
        
        
        
    }
    #texto{
        
        margin: 10% 0 0 10%;
        width: 80%;
        height: auto;
        font-size: 30px;
        animation-duration: 8s;
        animation-name: difusion;
        animation-iteration-count: infinite;
        
    
    }
    @keyframes difusion {
        from{
            opacity: 100;
            margin: 10% 0 0 15%;
        }
        
        to{
            opacity: 0;
            margin: 10% 0 0 5%;
        }
        
    }
    
    #menu{
        background-color: #FFF5E4;
        z-index: -1;
        width: 100%;
        height: 100vh;
        position: fixed;
        margin: 0;
        padding: 0;
        animation-name: ;
        animation-duration: 1s;
    }
    @keyframes menuOn{
        from{
            left: 400px;
            
        }
        to{
            left: 0px;
            
        }
    }
    @keyframes menuOff{
        from{
            left: -1px;
            
        }
        to{
            left: 500px;
           
        }
    }
    #ulMenu{
        position:relative;
        height: 50%;
        width: 80%;
        padding: 0;
        margin: 25% 10% 0 10%;
    }
    .liMenu{
        list-style: none;
        background-color: rgba(128, 128, 128, 0.32);
        height: 10%;
        margin: 5% 0 0 0;
        padding-top: 4%;
        padding-left: 4%;
        text-align: left;
        font-size: 30px;
    }
    #iniciar2{
        color: #FFF5E4;
        margin: 0 10% 0 10%;
        width: 80%;
        height: 70px;
        font-size: 40px;
        background-color: #EE6983;
        border-color: white;
        border-radius: 20px;
        
        position: absolute;
}
    
    aside{
        border-top: 3px solid;
        border-color: rgba(0, 0, 0, 0.377);
        background-color: white;
        height: 150px;
        width: 100%;
        clear: both;
        margin: 0;
        position: relative;
        top: 700px;
        
    }
    #logo2{
        color: #850E35;
        margin: 5% 0 0 10%;
        padding: 0;
        float: left;
        font-size: 50px;
        font-family: logo;
    }
    #redes{
        
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        right: 5%;
        top: 50%;
        font-size: 20px;
    
    }   
    #ulAside{
        width: 50%;
        margin: 0;
        padding: 0;
        clear: both;
        position: absolute;
        top: 40%;
        left: 45%;
        list-style: none;
    }
    
    .icono{
        
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 5%;
    }
#inicio3{
    display: none;
}
.icono,img{
    width: 50px;
}
}

/*---------------------------------Resolution Computer----------------*/
@media screen and (min-width: 991px) {
    ::-webkit-scrollbar {
        display: none;
    }
    body{
        margin: 0;
        
    }
    header{
        position: fixed;
        width: 100%;
        height: 120px;
        z-index: 11;
        
    }
    #logo{
       
        color: white;
        margin: 1% 0 0 5%;
        height: auto;
        width: auto;
        text-align: center;
        float: left;
        font-size: 10vh;
        font-family: logo;
    }
    #iniciar3{
        position: relative;
        width: 20%;
        height: 50px;
        top: 25%;
        left: 55%;
        text-decoration: none;
        background-color: rgba(240, 248, 255, 0);
        border-color: white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        color: white;
        font-size: 3vh;
    }
    main{
        clear: both;
        width: 100%;
        height: auto;
        margin: 0;
        
    }
    section{
       background-color: black;
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    #texto1{
        color: #FFC4C4;
        position: relative;
        width: 70%;
        height: 10vh;
        top: 35%;
        left: 15%;
        text-align: center;
        font-size: 50px;
        font-family: texto;
    }
    
    #crear{
        position: relative;
        width: 40%;
        height: 50px;
        left: 30%;
        top: 45% ;
        text-decoration: none;
        border:0;
        border-radius: 20px;
        font-size: 30px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top: 5%;
      
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #iniciar{
        display: none;
    }
   
    #opiniones{
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 800px;
        margin: 0;
        z-index: 1;
        
    }
    
    #opinion{
        display: list-item;
        position: relative;
    
        width: 90%;
        height: 500px;
        margin-top: 10%;
        margin-left: 5%;
        float: left;
        list-style: none;
        border: 2px solid;
        border-color: rgba(128, 128, 128, 0.522);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    #titulo{
       
        width: 80%;
        height: auto;
        font-size: 50px;
        border-bottom: 3px solid;
        border-color: #850E35;
        animation-duration: 8s;
        animation-name: difusion;
        animation-iteration-count: infinite;
        
    }
    #texto{
        
        width: 80%;
        height: auto;
        font-size: 30px;
        animation-duration: 8s;
        animation-name: difusion;
        animation-iteration-count: infinite;

    
    }
    @keyframes difusion {
  
        from{
            opacity: 100;
            margin: 5% 0 0 15%;
        }
        
        to{
            opacity: 0;
            margin: 5% 0 0 5%;
        }
        
    }
    
    #menu{
        display: none;
    }

    aside{
        border-top: 3px solid;
        border-color: rgba(0, 0, 0, 0.377);
        background-color: white;
        height: 150px;
        width: 100%;
        clear: both;
        margin: 0;
        position: relative;
        top: 720px;
        
    }
    #logo2{
        color: #850E35;
        margin: 3% 0 0 10%;
        padding: 0;
        float: left;
        font-size: 10vh;
        font-family: logo;
    }
    #redes{
      
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        right: 25%;
        top: 20%;
        font-size: 20px;
    
    }   
    #ulAside{
        
        width: 15%;
        margin: 0;
        padding: 0;
        clear: both;
        position: absolute;
        top: 40%;
        left: 61%;
        list-style: none;
    }
    
    .icono{
        
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 5%;
    }
    .icono,img{
        width: 50px;
    }
    #apartados{
        width: 100%;
        height: 10vh;
        
        margin: 0;
    }
    #apartados ul{
        width: 95%;
        height: 10vh;
        background-color: white;
        margin: 0;
        padding-top: 2%;
        padding-left: 30%;
    }
    #apartados ul li{
        width: auto;
        height: auto;
       
        margin: 0;
        font-size: 2vh;
        float: left;
        margin-left: 5%;
    }

    #idea{
        
        z-index: 1;
        background-color: red;
        position: absolute;
        width: 100%;
        height: 800px;
    }
    #idea h1{
        width: 10%;
        height: auto;
        font-size: 50px;
        border-bottom: 3px solid;
        border-color: #850E35;
        background-color: blue;
        margin: 10% 0 0 20%;
    }
    #idea p{
        background-color: blue;
        margin: 5% 0 0 20%;
        width: 60%;
        height: auto;
    }
    #equipo h1{
        width: 10%;
        height: auto;
        font-size: 50px;
        border-bottom: 3px solid;
        border-color: #850E35;
        background-color: blue;
        margin: 10% 0 0 20%;
    }
    #equipo p{
        background-color: blue;
        margin: 5% 0 0 20%;
        width: 60%;
        height: auto;
    }
    #tyh h1{
        width: 10%;
        height: auto;
        font-size: 50px;
        border-bottom: 3px solid;
        border-color: #850E35;
        background-color: blue;
        margin: 10% 0 0 20%;
    }
    #tyh p{
        background-color: blue;
        margin: 5% 0 0 20%;
        width: 60%;
        height: auto;
    }
    #equipo{
        
        z-index: 1;
        background-color: white;
        position: absolute;
        width: 100%;
        height: 800px;
    }
    #tyh{
        display: ;
        z-index: 1;
        background-color: white;
        position: absolute;
        width: 100%;
        height: 800px;
    }

}